body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: navy;
}

h2 {
    color: lightblue;
}

.about {
    color: darkorange;
}

.skills {
    color: darkgreen;
}

.projects {
    color: darkred;
}

.contact {
    color: darkslategray;
}
